.invest {
  margin: 90px 0 20px 0;
}

.invest__toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;

  min-height: 95px;
}

.invest__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 35px;
}

.invest-card {
  min-width: 0;
}

.invest-card .card__image {
  height: 420px;
}

.invest-card__content {
  min-height: 194px;
  padding: 20px;
  font-size: clamp(16px, 1.5vw, 20px);
}

.invest-card__title {
  margin: 0 0 7px;
  max-width: 300px;

  color: var(--color-text);
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 500;
}

.invest-card__country {
  margin: 0 0 6px;

  color: var(--color-text-muted);
}

.invest-card__size {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 6px;

  color: var(--color-text-muted);
}

.invest-card__squares {
  display: flex;
  gap: 5px;
}

.invest-card__square {
  width: 25px;
  height: 25px;
  background-image: url("/public/grass.jpg");
  background-size: cover;
}

.invest-card__price {
  margin: 0;

  color: var(--color-text-muted);
}

.invest-card__card-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.invest-card__invest {
  width: 133px;
  height: 51px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
}

@media screen and (max-width: 1280px) {
  .invest-card .card__image {
    height: 240px;
  }
}

@media screen and (max-width: 900px) {
  .invest__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .invest__toolbar {
    justify-content: space-between;
    gap: 15px;
  }

  .invest__actions {
    gap: 10px;
  }

  .invest__grid {
    grid-template-columns: 1fr;
  }

  .invest-card .card__image {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .invest-card__title {
    font-size: 18px;
  }
}
