.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 130px;
}

main {
  flex: 1;
}

.app-layout--home {
  background: var(--color-background-accent);
}

.app-layout--default {
  background: var(--color-background);
}
